header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: solid 4px red;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 80%;
  border: solid 2px green;
  color: black;
  font-size: 25px;
}

.logo-mentali {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
  margin-left: 10px;
}

.navbar > a {
  text-decoration: none;
  color: black;
}
